<style>
table,th,td
{
border:1px solid gray;
border-collapse:collapse
}
th
{
text-align:left;
}
table
{
font-family:"Arial", sans-serif;
}
</style>


<h1>Bookstore</h1>

<hr>

<h2>Books</h2>

<table border="1" style="width:500px">
<tr>
  <th>Title</th>
  <th>Author</th>
  <th>Average Rating <br>(out of 5)</th>
</tr>

<% all_books = Bookdata.read %>
<% all_books.each do |bookdata| %>

<tr>
  <td>
    <%= link_to bookdata["book_title"], "/books/#{bookdata["id"]}" %>
  </td>
  <td>
    <%= bookdata["author"] %>
  </td>
  <% bname = bookdata["book_title"] %>
  <td>
    <%= Reviews.where("book_title" => bname).average("star_rating") %>
  </td>
  </tr>

  <% end %>
</table>
</style>

